@import "src/sass/_templates"

.header
  background: rgba(0,0,0, .4)
  border-bottom: 1px solid rgba(256, 256, 256, .7)
  height: 60px
  display: grid
  grid-template-columns: 1fr 2fr 2fr
.menuLink
  @extend .link
